/*first sector*/
.first {   
    height: fit-content;
    margin-left: -10px;
    margin-right: -10px;
    width: auto; 
    background-color: #1F2937;
    display: flex;
    justify-content: flex-start;
}

.middle {
    height: 220px;
    background-color: #1F2937;
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    width: auto;
}


/*second sector*/
.second{
    margin-left: -10px;
    margin-right: -10px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    height: 180px;
    padding-bottom: 25px;
}

.boxes {
    width: 100px;
    height: 100px;
    border: 2px solid #3882f6;
    flex: 0 0 auto
}


/*third sector*/
.third {
    height: 270px;
    margin-left: -10px;
    margin-right: -10px;
    width: auto;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*fourt sector*/
.fourth {
    height: 270px;
    margin-left: -10px;
    margin-right: -10px;
    width: auto;
    display: flex;
    justify-content: center;
}

.sub {
    background-color: #3882f6;
    height: 120px;
    width: 700px;
    align-self: center;
    color: white;
    font-family: Verdana, Tahoma, sans-serif;
}

.bold {
    font-weight: bolder;
}


/*footer*/
.footer {
    background-color: #1F2937;
    margin-left: -10px;
    margin-right: -10px;
    height: 100px;
    width: auto;
    display: flex;
}

.copyright {
    color: white;
    justify-content: center;
    flex: 1 1 auto;
    text-align: center;
    align-self: center;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: smaller;
    font-weight: lighter;
}

.infos {
    text-align: center;
    padding-top: 20px;
}

img {
    height: 50px;
    padding: 20px;
}

.push {
    margin-left: auto;
}

a {
    text-decoration: none;
    padding: 30px;
    color: white;
}

* {
    font-family: Verdana, Tahoma, sans-serif;
}