/*first sector*/
.first {   
    height: fit-content;
    margin-left: -10px;
    margin-right: -10px;
    width: auto; 
    background-color: #1F2937;
    display: flex;
    justify-content: flex-start;
}


/*middle sector*/
.middle {
    height: 220px;
    background-color: #1F2937;
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    width: auto;
}

.middle_child1 {
    width: 500px;
    flex: 1;
    color: white;
    display: flex;
    flex-direction: column;
}

div h2 {
    padding-left: 10px;
}

.description {
    padding-left: 10px;
}

.middle_child2 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo {
    height: 150px;
    border-radius: 35px;
    margin-bottom: 10px;
}

/*second sector*/
.second{
    margin-left: -10px;
    margin-right: -10px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    height: 180px;
    padding-bottom: 25px;
}

.boxes {
    width: 100px;
    height: 100px;
    border: 2px solid #3882f6;
    flex: 0 0 auto;
    border-radius: 10px;
}


/*third sector*/
.third {
    height: 270px;
    margin-left: -10px;
    margin-right: -10px;
    width: auto;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.quote {
    margin: 0px;
    font-size: x-large;
    margin-bottom: 10px;
}

.quoter {
    width: 600px;
    text-align: end;
    margin: 0px;
    font-weight: bolder;
}

/*fourt sector*/
.fourth {
    height: 270px;
    margin-left: -10px;
    margin-right: -10px;
    width: auto;
    display: flex;
    justify-content: center;
}

.sub {
    background-color: #3882f6;
    height: 100px;
    width: 650px;
    align-self: center;
    color: white;
    font-family: Verdana, Tahoma, sans-serif;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.bold {
    font-weight: bolder;
    margin-bottom: -10px;
    font-size: small;
}

div div div {
    margin-left: 80px;
    flex: auto;
}

.sign{
    font-size: smaller;
}

button {
    background-color: #3882f6;
    border: 1px solid white;
    color: white;
    padding: 5px;
    border-radius: 3px;
    width: 110px;
    margin-right: 70px;
}

/*footer*/
.footer {
    background-color: #1F2937;
    margin-left: -10px;
    margin-right: -10px;
    height: 100px;
    width: auto;
    display: flex;
}

.copyright {
    color: white;
    justify-content: center;
    flex: 1 1 auto;
    text-align: center;
    align-self: center;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: smaller;
    font-weight: lighter;
}

.infos {
    text-align: center;
    padding-top: 20px;
}

img {
    height: 50px;
    padding: 20px;
}

.push {
    margin-left: auto;
}

a {
    text-decoration: none;
    padding: 30px;
    color: white;
}

* {
    font-family: Verdana, Tahoma, sans-serif;
}

section {
    border: 2px solid red;
    height: 100px;
    width: 200px;
}

